# Taller 4: Clustering
## [Introducción a los Sistemas Inteligentes 2021-1](https://fagonzalezo.github.io/iis-2021-1/)

In [1]:
import pandas as pd
import numpy as np

In [2]:
#TEST CELL
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

if IN_COLAB:
    !wget https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv

--2021-06-16 03:22:47--  https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv
Resolving sites.google.com (sites.google.com)... 74.125.142.100, 74.125.142.139, 74.125.142.113, ...
Connecting to sites.google.com (sites.google.com)|74.125.142.100|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attredirects=0 [following]
--2021-06-16 03:22:47--  https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attredirects=0
Reusing existing connection to sites.google.com:443.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://e6c3d1db-a-f56cbe42-s-sites.googlegroups.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attachauth=ANoY7crv2N0bFDfUYUtT6pR8MxAJ5aPvAJXTt4UCs3BAzA09D0BUESHAm8N9GYR3i4mlZdV2-AwlLH6I4ZGx2Ahz7Ur1FNfbXjngpJps6wsi4R4Ojt5u4PDzys8l1jOH2rhI8EPucQMhWSKH5GMsnzAg7RR9Y1KgGQcvV3QMPymQA7ezWpDtQ6MaPyarncja1vSogZyJZrO3L2VPj55WgFgp5308Wqrzfy1cXpbKuHFbhbAQwziBhpY%3D&attredirects=0 [following]
--2021-06-16 03:22:47--  https://e6c3d1db-a-f56cbe42-s-sites.googlegroups.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attachauth=ANoY7crv2N0bFDfUYUtT6pR8MxAJ5aPvAJXTt4UCs3BAzA09D0BUESHAm8N9GYR3i4mlZdV2-AwlLH6I4ZGx2Ahz7Ur1FNfbXjngpJps6wsi4R4Ojt5u4PDzys8l1jOH2rhI8EPucQMhWSKH5GMsnzAg7RR9Y1KgGQcvV3QMPymQA7ezWpDtQ6MaPyarncja1vSogZyJZrO3L2VPj55WgFgp5308Wqrzfy1cXpbKuHFbhbAQwziBhpY%3D&attredirects=0
Resolving e6c3d1db-a-f56cbe42-s-sites.googlegroups.com (e6c3d1db-a-f56cbe42-s-sites.googlegroups.com)... 74.125.195.137, 2607:f8b0:400e:c09::89
Connecting to e6c3d1db-a-f56cbe42-s-sites.googlegroups.com (e6c3d1db-a-f56cbe42-s-sites.googlegroups.com)|74.125.195.137|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘credit-german.csv.3’

credit-german.csv.3     [ <=>                ] 134.90K  --.-KB/s    in 0.01s

2021-06-16 03:22:47 (13.0 MB/s) - ‘credit-german.csv.3’ saved [138139]

Primero vamos a leer un conjunto de datos para scoring de crédito:

In [3]:
df = pd.read_csv("credit-german.csv", sep=";")
df

    checking_status  disc_duration  ... foreign_worker class
0                <0              6  ...            yes  good
1          0<=X<200             48  ...            yes   bad
2       no checking             12  ...            yes  good
3                <0             42  ...            yes  good
4                <0             24  ...            yes   bad
..              ...            ...  ...            ...   ...
995     no checking             12  ...            yes  good
996              <0             30  ...            yes  good
997     no checking             12  ...            yes  good
998              <0             45  ...            yes   bad
999        0<=X<200             45  ...            yes  good

[1000 rows x 19 columns]

Procesamos el dataframe para convertir las variables categóricas en númericas usando one-hot-encoding (variables binarias representando cada valor de una variable categórica):

In [4]:
df = pd.get_dummies(df)
df

     disc_duration  credit_amount  ...  class_bad  class_good
0                6           1169  ...          0           1
1               48           5951  ...          1           0
2               12           2096  ...          0           1
3               42           7882  ...          0           1
4               24           4870  ...          1           0
..             ...            ...  ...        ...         ...
995             12           1736  ...          0           1
996             30           3857  ...          0           1
997             12            804  ...          0           1
998             45           1845  ...          1           0
999             45           4576  ...          0           1

[1000 rows x 65 columns]

## 1. Escale los datos
Cree una función que reciba el dataframe con los datos y retorne un arreglo de numpy con los datos. Los datos deben estar escalados de manera que para cada columna el menor valor es 0 y el mayor 1.

In [5]:
#Realizado con base en:
#https://towardsdatascience.com/everything-you-need-to-know-about-min-max-normalization-in-python-b79592732b79

from sklearn.preprocessing import MinMaxScaler

def escalar(df):
    '''
    df: dataframe con los datos
    Returns:
    X: arreglo de numpy con los datos escalados
    '''

    ## Your code here

    # Convertir el dataframe a un arreglo multidimensional de numpy
    X = df.values

    # Instanciar un escalador
    scaler = MinMaxScaler()

    # Configurar el escalador segun los valores presentes en el dataset
    scaler.fit(X)

    # generar el nuevo datase normalizado
    X_scaled = scaler.transform(X)

    return X_scaled

In [6]:
X_prueba = escalar(df)

# valores minimos los cuales deben ser todos ceros
print(X_prueba.min(axis=0),"\n")

# valores maximos los cuales deben ser todos unos
print(X_prueba.max(axis=0),"\n")

# Dataset reescalado entre 0 y 1
print(X_prueba)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

[[0.02941176 0.05056674 0.85714286 ... 1.         0.         1.        ]
 [0.64705882 0.31368989 0.05357143 ... 1.         1.         0.        ]
 [0.11764706 0.10157368 0.53571429 ... 1.         0.         1.        ]
 ...
 [0.11764706 0.03048311 0.33928571 ... 1.         0.         1.        ]
 [0.60294118 0.08776274 0.07142857 ... 1.         1.         0.        ]
 [0.60294118 0.23803235 0.14285714 ... 1.         0.         1.        ]]

## 2. Entrene un modelo de agrupamiento

Escriba una función que reciba la matriz de datos y entrene un modelo de clustering. La función debe retornar el modelo entrenado.

In [7]:
from sklearn.cluster import KMeans

def clustering(X, k):
    '''
    X: arreglo de numpy con los datos 
    k: número de clusters
    Returns:
    km: instancia de KMeans entrenada con X
    '''
    ## Your code here
    n_clusters = k

    km = KMeans( n_clusters=n_clusters) #instanciar un modelo de clustering con k clusters
    km.fit(X) #entrenar el modelo

    return km

In [8]:
clustering_entrenado = clustering(X_prueba, 3)

km_prueba = clustering(X_prueba, 3)
print("Datos del modelo: \n",km_prueba,"\n\n")
print("Predicciones sobre el dataset: \n",km_prueba.predict(X_prueba))

Datos del modelo:
 KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)


Predicciones sobre el dataset:
 [2 1 2 1 2 0 1 0 1 2 1 1 0 2 1 1 2 2 0 0 2 1 2 1 2 0 1 2 1 2 0 1 0 2 0 2 0
 1 0 1 1 0 0 2 2 2 1 0 2 1 1 2 1 0 2 1 0 2 1 2 0 2 0 0 0 0 1 1 0 1 1 2 2 2
 0 2 1 1 1 1 0 0 1 0 1 2 2 0 0 2 2 2 1 2 0 0 1 1 1 2 1 1 1 0 0 2 2 1 0 0 2
 0 1 2 1 0 0 2 2 0 0 2 1 2 1 2 1 1 2 2 1 0 2 2 0 2 2 1 2 0 1 0 1 1 0 1 2 2
 2 2 0 0 1 1 0 1 2 1 0 2 0 2 2 0 1 0 1 1 0 2 2 0 0 1 2 0 1 2 0 2 2 2 2 0 0
 2 0 0 1 2 0 1 0 1 1 2 2 1 0 0 2 1 2 1 2 0 2 1 1 1 2 0 2 0 0 2 0 0 1 0 1 0
 2 2 0 2 0 0 1 1 1 1 1 1 2 1 0 1 2 1 1 1 2 2 1 0 2 1 1 1 2 1 1 2 0 1 2 1 0
 2 1 1 0 2 2 1 2 0 0 2 1 0 0 1 0 1 2 0 1 0 2 1 1 2 0 0 1 0 0 1 0 0 2 2 2 0
 1 1 0 2 0 0 2 2 1 1 1 0 1 1 0 1 1 1 1 1 1 0 2 2 2 1 0 1 2 2 0 0 1 1 2 2 1
 2 2 0 1 1 1 1 2 1 1 0 1 1 2 1 2 2 0 1 0 2 0 1 0 2 1 1 1 1 2 1 1 0 2 1 1 1
 1 2 2 0 0 1 2 1 0 2 0 0 1 1 2 2 0 2 1 2 0 1 0 1 2 0 1 2 1 2 0 2 2 2 1 0 2
 1 0 2 0 2 2 1 1 2 1 2 1 1 1 1 2 2 0 0 2 2 1 2 1 0 0 2 1 0 1 2 2 1 0 1 2 1
 0 2 0 1 0 2 0 1 2 0 0 0 2 0 1 0 1 1 1 2 2 0 0 2 2 2 0 1 1 0 1 1 1 1 1 2 1
 1 0 2 0 0 0 0 1 1 2 0 2 1 2 1 0 2 1 2 1 1 1 2 1 1 0 0 1 0 1 0 0 2 1 2 1 2
 0 2 2 1 2 1 1 2 1 2 1 0 2 0 1 0 2 1 0 0 1 1 1 2 1 1 2 2 0 1 1 2 2 1 0 1 0
 1 2 2 1 2 0 1 1 0 2 2 1 2 0 0 0 2 0 1 2 2 1 2 2 2 2 2 1 1 0 1 2 1 0 2 2 2
 1 0 0 1 1 0 2 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 0 1 2 1 1 2 2 1 1 1 1 0 1 2
 1 1 1 1 1 0 0 1 2 1 2 1 2 0 2 2 2 2 1 1 1 0 1 1 0 2 1 1 0 2 0 1 1 2 2 1 2
 0 1 2 2 2 2 0 1 1 0 0 1 1 1 1 0 2 2 2 0 2 1 0 1 2 1 1 2 0 1 2 1 2 0 1 2 0
 2 0 1 1 2 1 1 2 1 0 2 0 2 2 0 2 2 2 1 1 1 1 2 2 1 1 2 1 1 1 0 1 1 1 0 2 2
 1 1 0 0 2 2 1 1 1 1 0 1 1 2 2 1 2 2 0 2 0 2 1 0 2 1 1 1 2 2 1 2 0 2 2 1 2
 1 2 0 2 0 0 1 0 0 1 2 1 0 1 0 2 1 0 1 0 2 2 1 2 2 2 2 1 0 1 2 0 2 0 1 2 1
 1 1 1 2 1 1 2 1 1 2 2 2 2 2 1 0 2 0 2 0 1 2 1 1 2 2 1 2 1 0 0 0 2 1 1 1 2
 2 2 2 2 0 0 0 0 1 2 0 0 2 1 1 1 2 2 1 2 2 2 1 1 2 0 1 0 2 0 0 2 2 0 1 2 0
 2 2 2 2 2 2 2 0 0 1 1 1 0 2 2 0 0 0 1 1 2 1 2 1 1 0 0 0 1 0 1 0 2 0 1 0 0
 2 1 0 0 2 1 0 2 2 1 2 1 0 1 2 0 1 0 2 1 2 0 0 1 2 2 2 1 0 0 2 2 2 1 1 2 2
 1 0 1 1 2 0 0 2 1 1 2 1 0 1 1 2 2 1 1 0 0 1 2 2 2 1 0 2 2 1 1 0 0 1 0 1 0
 1]

## 3. Calcule el número de elementos en cada cluster

Escriba una función de que reciba un modelo entrenado de clustering y un conjunto de datos. Aplique el modelo de clustering a los datos (no debe reentrenar solo predecir) y calcule cuantos datos quedaron en cada cluster.

In [9]:
def num_elems(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos 

    Returns:
    num: arreglo de numpy con el número de datos por cluster
    '''
    ## Your code here
    y = km.predict(X) #obtener predicciones
    num = np.array(pd.Series(y).value_counts().sort_index()) #contar los elementos asignados a cada clase
                                                             #Nota: se debe usar sort_index()para ordenar la tabla de frecuencias 
    
    return num

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("credit-german.csv", sep=";")
df = pd.get_dummies(df)
escaler = MinMaxScaler()
print(type(df))
X = escaler.fit_transform(df)
print(type(X))
km = KMeans(n_clusters=5, random_state=10)
km.fit(X)
result = np.array([117, 178, 276, 237, 192])
num_elems(km, X)
np.allclose(num_elems(km, X), result)
#num_elems(km, X)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

True

In [11]:
elementos_por_cluster = num_elems(clustering_entrenado,X_prueba)
print(elementos_por_cluster)

[274 387 339]

# 4. Calcule los centroides

Escriba una función que reciba un modelo de KMeans entrenado y retorne un centroide de un cluster particular.

In [12]:
def centroid(km, n):
    '''
    km: modelo KMeans preentrenado
    n: índice del cluster

    Returns:
    centroid: arreglo de numpy con el centroide del cluster
    '''
    ## Your code here
    centroid = km.cluster_centers_[n]
    return centroid

In [13]:
centroid(clustering_entrenado,0)

array([ 2.88428510e-01,  2.28792797e-01,  3.32247132e-01,  3.13868613e-01,
        2.40875912e-01,  4.74452555e-02,  3.97810219e-01,  5.47445255e-02,
        1.38686131e-01,  5.47445255e-02,  7.15328467e-01,  3.64963504e-02,
        1.09489051e-01,  1.09489051e-02,  5.83941606e-02,  1.75182482e-01,
        2.15328467e-01,  2.55474453e-02,  2.37226277e-01,  1.45985401e-02,
        1.09489051e-02,  1.42335766e-01,  1.05839416e-01,  6.56934307e-02,
        5.54744526e-01,  4.37956204e-02,  2.29927007e-01,  3.06569343e-01,
        1.56934307e-01,  1.60583942e-01,  2.77372263e-01,  9.85401460e-02,
        2.88321168e-01,  5.47445255e-02,  8.02919708e-02,  5.76642336e-01,
        3.64963504e-02,  2.55474453e-02,  9.37956204e-01,  3.46715328e-01,
        2.18978102e-01,  2.40875912e-01,  1.93430657e-01,  1.45985401e-01,
        8.10218978e-01,  4.37956204e-02,  1.78832117e-01,  6.56934307e-01,
        1.64233577e-01,  7.29927007e-03,  8.97810219e-01,  3.28467153e-02,
        6.20437956e-02,  3.50364964e-01,  5.54744526e-01,  1.82481752e-02,
        7.66423358e-02,  8.68613139e-01,  1.31386861e-01, -1.44328993e-15,
        1.00000000e+00,  1.82481752e-02,  9.81751825e-01,  3.10218978e-01,
        6.89781022e-01])

# 5. Calcule las edades promedio de cada cluster
Escriba una función que calcule la edad promedio de las muestras en cada cluster. Estas edades deben ser reportadas en la escala original. La función debe recibir un modelo entrenado (usando los datos escalados) y los datos escalados usados para entrenar el modelo y debe retornar un vector con las edades promedio de cada cluster. Las edades deben estar en las escala original (no escaladas entre 0 y 1).

In [14]:
def age(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos escalados

    Returns:
    ages: arreglo de numpy con el valor de las edades promedio
    '''

    ## Your code here
    numero_de_clusters = km.n_clusters #Obtener cuantos clusters hay usando el atributo del modelo
    lista_acumuladores = [0]*numero_de_clusters #Crear una lista de ceros para ir sumando las edades de cada cluster

    edades = df["age"] # recortar la columna edades del dataframe original

    y = km.predict(X) #Obtener las predicciones de a cual cluster se asigna cada persona del dataset
    
    l = len(X) # Numero de personas en el dataset


    #Por cada persona registrada en el dataset determinar su edad y su grupo y actualizar el acumulador del cluster correspondiente
    for i in range(0,l):
      edad = edades[i]
      cluster_al_que_pertenece = y[i]
      lista_acumuladores[cluster_al_que_pertenece] += edad
    

    
    elementos_en_cada_cluster =  num_elems(km, X) #Calcular cuantos elementos tiene cada cluster

    ages = (lista_acumuladores/elementos_en_cada_cluster) # Obtener las edades promedio usando los valores acumulados y numero de elementos de cada cluster

    return ages

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("credit-german.csv", sep=";")
df = pd.get_dummies(df)
escaler = MinMaxScaler()
X = escaler.fit_transform(df)
km = KMeans(n_clusters=5, random_state=10)
km.fit(X)
result = np.array([43.82051282, 30.44382022, 36.1884058 , 33.44303797, 36.90625   ])

print(np.allclose(age(km, X), result))
age(km, X)

True

array([43.82051282, 30.44382022, 36.1884058 , 33.44303797, 36.90625   ])

## 6. Calcule el porcentaje de malos deudores en cada cluster

Escriba una función que calcule el porcentaje de malos deudores en cada uno de los clusters. La función recibe un modelo preentrenado y los datos usados para entrenar el modelo y debe retornar un vector con los porcentajes.

In [16]:
def classes(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos 

    Returns:
    percentages: arreglo de numpy con el valor de los porcentajes
    '''
    ## Your code here
    numero_de_clusters = km.n_clusters #Obtener cuantos clusters hay usando el atributo del modelo
    matriz_acumuladores =np.zeros((numero_de_clusters, 2)) #Crear una matriz con regisros [buenos_clientes_cluster_i, malos_clientes_cluster_i]
    buenos = 0
    malos  = 1

    percentages = np.zeros(numero_de_clusters)

    es_mal_deudor = X[:,-2] # recortar la columna categorica "class_bad" de malos deudores

    y = km.predict(X) #Obtener las predicciones de a cual cluster se asigna cada persona del dataset
    
    l = len(X) # Numero de personas en el dataset


    #Por cada persona registrada en el dataset determinar su tipo de deudor y su grupo poblacional y actualizar la fila del cluster correspondiente
    for i in range(0,l):
      mal_deudor = es_mal_deudor[i]
      cluster_al_que_pertenece = y[i]
      if (mal_deudor == 1):
        matriz_acumuladores[cluster_al_que_pertenece][malos] += 1
      else:
        matriz_acumuladores[cluster_al_que_pertenece][buenos] += 1


    #Calcular el porcentaje de clientes malos en cada cluster usando la matriz llenada
    for i in range(0,numero_de_clusters):
      total_elementos_cluster_i = matriz_acumuladores[i][malos] + matriz_acumuladores[i][buenos]
      percentages[i] = matriz_acumuladores[i][malos]/total_elementos_cluster_i

    return percentages

In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("credit-german.csv", sep=";")
df = pd.get_dummies(df)
escaler = MinMaxScaler()
X = escaler.fit_transform(df)
km = KMeans(n_clusters=5, random_state=10)
km.fit(X)
result = np.array([0.43589744, 0.95505618, 0.15942029, 0.01265823, 0.16666667])
classes(km, X)
print(np.allclose(classes(km, X), result))

True

# 7. Calcule la característica que más diferencia dos clusters

Escriba una función que calcule la característica que es más diferente entre dos clusters dados. La función debe recibir el dataframe original con los datos, un modelo de clustering preentrenado y los índices de los clusters que se quieren comparar.

In [18]:
def most_different(df, km, n, m):
    '''
    df: dataframe con los datos
    km: modelo KMeans preentrenado
    n: índice del primer cluster
    m: índice del segundo cluster
    Returns:
    (feat, val1, val2)
    feat: string con el nombre de la característica
    val1: valor de la característica para el cluster m
    val2: valor de la característica para el cluster n
    '''
    ## Your code here
    centroide_cluster_m = centroid(km,m) #obtener centroide del cluster m
    centroide_cluster_n = centroid(km,n) #obtener centroide del cluster n

    vector_diferencia = abs(centroide_cluster_n - centroide_cluster_m) #calcular vector diferencia de valores de los centroides
    indice_del_valor_maximo = np.argmax(vector_diferencia) #obtener el indice del atributo en que mas se diferencio en los dos clusters
    nombres_columnas_dataframe = df.keys() #armar lista de los nombres de las columnas del dataframe original


    feat = nombres_columnas_dataframe[indice_del_valor_maximo] #nombre de la caracteristica que mas se diferencio
    val1 = centroide_cluster_m[indice_del_valor_maximo] #valor de la caracteristica en el cluster m
    val2 = centroide_cluster_n[indice_del_valor_maximo] #valor de la caracteristica en el cluster n
    return (feat, val1, val2)

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("credit-german.csv", sep=";")
df = pd.get_dummies(df)
escaler = MinMaxScaler()
X = escaler.fit_transform(df)
km = KMeans(n_clusters=5, random_state=10)
km.fit(X)
res0, res1, res2 = ('property_magnitude_no known property', 0.9743589743589743, 0.043478260869565286)
res = most_different(df, km, 2, 0)
res
print((res0 == res[0]) and np.allclose([res1, res2], res[1:]))

True

# 8. Calcule el número de clusters usando el método del codo

Diseñe una función que reciba un modelo de kmeans (no preentrenado) y encuentre un valor *óptimo* para el número de clusters usando la estrategia del codo. El valor óptimo es el máximo valor de $k$ tal que el incremento de la inercia entre $k-1$ y $k$ es al menos de un 2%. Su función no debe crear una nueva instancia del modelo de kmeans. Debe usar la función `km.set_params(n_clusters=k)` para fijar el número de clusters.

In [20]:
def elbow(km, X, n):
    '''
    km: modelo KMeans
    X: arreglo de numpy con los datos
    n: valor máximo del número de clusters a explorar

    Returns:
    (k, inertia)
    k: número óptimo de clusters
    inertia: valor de la inercia correspondiente a k clusters
    '''
    ## Your code here

    
    K = range(3,n+1) # obtener lista con los posibles k's a probar
    k = 0            # variable para guardar la solucion numero de clusters optimo

    km.set_params(n_clusters=2) # el caso inicial es un modelo con dos clusters
    km = km.fit(X)              # entrenar el modelo
    inercia_k_menos_uno_clusters = km.inertia_ # variable para la inercia con k-1
    inercia_k_clusters = 0 # variable para la inercia con k
    inertia = 0 # variable para guardar la solucion de inercia segun el numero de clusters optimo



    for i in K:

        km.set_params(n_clusters=i) # establecer el numero de clusters
        km = km.fit(X) #entrenar el modelo
        inercia_k_clusters = km.inertia_ # obtener la inercia del modelo acual

        cambio = 1.0 - (inercia_k_clusters / inercia_k_menos_uno_clusters) #calcular mejora porcentual lograda con el paso actual
        
        if not (cambio >= 0.02): # cuando no se cumpla la condicion definida salir del ciclo for
          break
        
        inercia_k_menos_uno_clusters = inercia_k_clusters #la inercia k de esta iteracion sera la k-1 de la siguiente
        k = i # guardar el ultimo valor k. si en la siguiente iteracion la condicion de salida se cumple, quedara este resultado pues no se actualizara k de nuevo



    inertia = inercia_k_menos_uno_clusters # el ultimo k hizo la condicion desalida verdadera entonces retornamos la inercia k-1

    return (k, inertia)

In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("credit-german.csv", sep=";")
df = pd.get_dummies(df)
escaler = MinMaxScaler()
X = escaler.fit_transform(df)
km = KMeans(random_state=10)
res = np.array((14, 501.65992863324675))
elbow(km, X[:100], 20)
print(np.allclose(res, elbow(km, X[:100], 20)))

True